@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}
header{
    background-color: #f7f7ec;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 30px 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}
.banner h1{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #000000;
}
.banner p{
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555555;
}
.primary-btn{
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
    margin-top: 20px;
}
.primary-btn:hover{
    background-color: #e07b0c;
}

.banner-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner-image img{
    margin-top: 40px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

.section-one{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    /* text-align: center; */
    width: 80%;
    margin:40px auto;
    /* padding: 60px 0; */
}

.section-one .features{
    display: flex;
    flex-direction: column;
}
.features .title{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000000;
}
.title .quick-list{
    color: #727272;
    font-weight: 500;
}
.features1{
    color: #FF900E;
}
.features p{
    font-size: 16px;
    margin-bottom: 15px;
    color: #555555;
}
.section-one .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.section-one .images img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .banner h1{
        font-size: 2.5rem;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
}